body {
  background-color: #000000
}
h1{
  color: #fff320;
}
h2{
  color: #fff320;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
